<a href="https://colab.research.google.com/github/MichaelT2828/Unit_1/blob/main/Collab_Session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1 - Organize 3 input heights from smallest to largest in cm
print("This program organizes heights from smallest to largest")
h1 = int(input("Enter the first height: "))
h2 = int(input("Enter the second height: "))
h3 = int(input("Enter the third height: "))
if h1 < h2 < h3:
  print(h1, h2, h3)
elif h1 < h3 < h2:
  print(h1, h3, h2)
elif h2 < h1 < h3:
  print(h2, h1, h3)
elif h2 < h3 < h1:
  print(h2, h3, h1)
elif h3 < h1 < h2:
  print(h3 < h1 < h2)
elif h3 < h2 < h1:
  print(h3, h2, h1)

This program organizes heights from smallest to largest
Enter the first height: 50
Enter the second height: 105
Enter the third height: 530
50 105 530

In [ ]:
#2 - Calculate the tax for a salary input
sal = int(input("Enter your salary: "))
if 0 <= sal <= 10:
  print("Your tax is:", sal * 0.05)
elif 10.001 <= sal <= 50:
  print("Your tax is:", sal * 0.1)
elif 50.001 <= sal <= 100:
  print("Your tax is:", sal * 0.15)
elif sal > 100.001:
  print("Your tax is:", sal * 0.25)

Enter your salary: 20
2.0

In [ ]:
#3 - Sort three names in alphabetical order
name1 = input("Enter the first name: ")
name2 = input("Enter the second name: ")
name3 = input("Enter the third name: ")
a = (name1, name2, name3)
print(sorted(a))

Enter the first name: Kazuto
Enter the second name: Abe
Enter the third name: Michael
['Abe', 'Kazuto', 'Michael']

In [ ]:
#3.5 - Sort three names in alphabetical order, without using sort
name1 = input("Enter the first name: ")
name2 = input("Enter the second name: ")
name3 = input("Enter the third name: ")

if name1[0] < name2[0] < name3[0]: #Different first letter
  print(name1, name2, name3)
elif name1[0] < name3[0] < name2[0]:
  print(name1, name3, name2)
elif name2[0] < name1[0] < name3[0]:
  print(name2, name1, name3)
elif name2[0] < name3[0] < name1[0]:
  print(name2, name3, name1)
elif name3[0] < name2[0] < name1[0]:
  print(name1, name2, name3)
elif name3[0] < name1[0] < name2[0]:
  print(name1, name2, name3)
#Somehow do for same first letter

Enter the first name: Michael
Enter the second name: Asahi
Enter the third name: Shine
Asahi Michael Shine

In [9]:
#3.6 - Sort three names in alphabetical order, without using sort, with same first letter
name1 = input("Enter the first name: ")
name2 = input("Enter the second name: ")
name3 = input("Enter the third name: ")

name11 = name1[0] + name1[1]
name22 = name2[0] + name2[1]
name33 = name3[0] + name3[1]

if name11 < name22 < name33:
  print(name1, name2, name3)
elif name11 < name33 < name22:
  print(name1, name3, name2)
elif name22 < name11 < name33:
  print(name2, name1, name3)
elif name22 < name33 < name11:
  print(name2, name3, name1)
elif name33 < name22 < name11:
  print(name1, name2, name3)
elif name33 < name11 < name22:
  print(name1, name2, name3)

Enter the first name: Andy
Enter the second name: Abe
Enter the third name: Adrian
Abe Adrian Andy

In [21]:
#4 - Calculate the median of 4 or 5 inputs
input1 = int(input("Enter the 1st score: "))
input2 = int(input("Enter the 2nd score: "))
input3 = int(input("Enter the 3rd score: "))
input4 = int(input("Enter the 4th score: "))
input5 = int(input("Enter 0 if there is no 5th score: "))

if input5 != 0: #5 scores
  a = (input1, input2, input3, input4, input5)
  b = sorted(a)
  print(f"The median is {b[2]}")
elif input5 == 0:
  a = (input1, input2, input3, input4)
  b = sorted(a)
  c = (b[1]+b[2]) / 2
  print(f"The median is {c}")

Enter the 1st score1
Enter the 2nd score2
Enter the 3rd score3
Enter the 4th score4
Enter 0 if there is no 5th score: 0
2.5